<footer id="colophon" class="site-footer" role="contentinfo">
  <div class="wrap">
    <aside class="widget-area" role="complementary" aria-label="Footer">
      <div class="widget-column">
        <section class="widget widget_text">
          <h2 class="widget-title">Hier finden Sie uns</h2>
          <div class="textwidget">
            <p>
              <strong>Adresse</strong><br/>
              Konrad-Adenauer-Straße 28<br/>
              64401 Groß-Bieberau
            </p>
            <p>
              <strong>Öffnungszeiten Büro</strong><br/>
              Montag – Freitag: 9–17 Uhr
            </p>
            <p>
              <strong>Kontakt</strong><br/>
              <a href='/kontakt/'>Kontaktinformationen</a><br/>
          </div>
        </section>
      </div>
    </aside>
  </div>
</footer>