<a class="skip-link screen-reader-text" href="#content">Zum Inhalt springen</a>
<header id="masthead" class="site-header" role="banner">
  <div class="custom-header">
    <div class="custom-header-media">
      <div id="wp-custom-header" class="custom-header-media">
        <img src="/assets/machine.jpeg" width="2000" height="1200" alt="Maschinenservice Hermanns"/>
      </div>
    </div>
    <div class="site-branding">
      <div class="wrap">
        <div class="site-branding-text">
          <h1 class="site-title">
            <a href="/" rel="home">Maschinenservice Hermanns</a>
          </h1>
          <p class="site-description">Erst wenn Sie zufrieden sind &#8211;sind wir zufrieden</p>
        </div>
      </div>
    </div>
  </div>
  <div class="navigation-top">
    <div class="wrap">
      {% include "./navigation.njk" %}
    </div>
  </div>
</header>