{% extends "_includes/base.njk" %}

{% block title %}Startseite{% endblock %}
{% block heading %}Startseite{% endblock %}

{% block content %}
    <p>
        <strong>Wartung</strong> und <strong>Instandhandhaltung </strong> sind die beiden Grundpfeiler für eine langfristig erfolgreiche Produktion. Dies gilt vor allem für <strong>Polishmaster-Maschinen</strong>, bei denen außerdem ein hohes Maß an Präzision gefordert ist.
    </p>
    <p>Maschinenservice Hermanns steht mit über 30-jähriger Erfahrung als zuverlässiger und kompetenter Partner Kunden weltweit zur Seite.</p>
    <p>Dabei reichen die Kompetenzen von Reparatur, bis zur regelmäßigen Wartung, Instandsetzung und Reinigung von Polishmastermaschinen.</p>
    <p>Informieren Sie sich über unsere Services auf den Folgeseiten!</p>
{% endblock %}