{% extends "_includes/base.njk" %}

{% block title %}Kontakt{% endblock %}
{% block heading %}Kontakt{% endblock %}

{% block content %}
    <h3>Andreas Hermanns</h3>
    <p>Konrad-Adenauer-Str. 28<br/>64401 Groß-Bieberau</p>
    <p>
        Mobil: +49 176 666 55 432<br/>
        Tel.: +49 6162 943610<br/>
        Fax: +49 6162 943609
    </p>
    <p>E-Mail: hermannsandreas[at]web.de</p>
    <p>Steueridentifikationsnr: DE 253356445</p>
    <p>
        <strong>Geschäftsführer und Techniker</strong>
        <br/>Andreas Hermanns
    </p>
    <p>
        <strong>Design &amp;Admin</strong>
        <br/>Sarah Hermanns
    </p>
{% endblock %}