{% extends "_includes/base.njk" %}

{% block title %}Partner{% endblock %}
{% block heading %}Partner{% endblock %}

{% block content %}
        <p>Um den bestmöglichen Service zu bieten arbeitet Maschinenservice Hermanns mit kompetenten Partnern aus der graphischen Industrie zusammen:</p>
        <p>
            <strong>Firma Gravurtechnik</strong>
        </p>
        <p>Tätigkeitsfeld in der Grafischen Industrie. Der Service erstreckt sich auf Anlagen im Bereich Tiefdruckzylinderherstellung.</p>
        <p>Das komplette Servicespektrum entnehmen Sie der Homepage:</p>
        <p>
            <a href="http://www.gravurtechnik-rh.de/home2.html">http://www.gravurtechnik-rh.de/home2.html</a>
        </p>
        <hr/>
        <p>
            <strong>C.K.Instructing for Printing Industry</strong>
        </p>
        <p>Tätigkeitsfeld in der Grafischen Industrie. Der Service erstreckt sich von Inbetriebnahme Oberflächenbearbeitungsmaschinen über Schulung von Kunden in Grundkalibrierungen Polishmaster / Duo Sta bis zum Ansetzen aller Elektrolyten &#8211;Entfetten &#8211;Kupfer &#8211;Chrom &#8211;Dechrom.</p>
        <p>Das komplette Servicespektrum entnehmen Sie der Homepage:</p>
        <p>
            <a href="https://www.ck-instructing.com/">https://www.ck-instructing.com/</a>
        </p>
{% endblock %}