{% extends "_includes/base.njk" %}

{% block title %}Dienstleistungen{% endblock %}
{% block heading %}Dienstleistungen{% endblock %}

{% block content %}
    <p>Unsere Serviceleistungen umfassen:</p>
    <ul>
        <li>Reparaturservice</li>
        <li>Wartungsservice</li>
        <li>Instandhaltungsservice</li>
    </ul>
    <p>Fokus auf Anlagen der Graphischen Industrie</p>
    <p>Schwerpunkt: MDC Polishmaster-Anlagen Typ: BVA / CVA und weitere</p>
    <hr/>
    <p>Außerdem zählt zu unseren Leistungen:</p>
    <ul>
        <li>Beschaffung mechanischer &amp;elektronischer (Ersatz-) Teile</li>
        <li>Schnellstmögliche Reparaturen von Spindeln zu Polishmaster</li>
        <li>Maschinenumzüge &#8211;inklusive Inbetriebnahme</li>
        <li>Einweisung in Deutscher oder Englischer Sprache</li>
    </ul>
{% endblock %}