{% extends "_includes/base.njk" %}

{% block title %}Über mich{% endblock %}
{% block heading %}Über mich{% endblock %}

{% block content %}
    <p>Mein Name ist Andreas Hermanns und mit über 30-jähriger Berufserfahrung arbeite ich mittlerweile mit Kunden und Partnern weltweit zusammen. <img class="size-medium wp-image-142 alignleft" src="/assets/andreas.jpeg" alt="" width="300" height="200"/>. Vor 19 Jahren habe ich mich auf die Wartung, Instandsetzung und Reparatur von Maschinen der graphischen Industrie spezialisiert. Wobei der Fokus auf <strong>Polishmaster</strong> Maschinen liegt.</p>
    <p>In dieser Industrie sind die Anforderungen an <strong>Präzision</strong>, <strong>Qualität</strong> und <strong>Zuverlässigkeit</strong> besonders hoch. Vor allem der Service am Polishmaster muss diese Anforderungen erfüllen, damit die Maschinen und damit Ihre Produktion langfristig erfolgreich laufen kann.</p>
    <p>Die geforderte Präzision in dieser Industrie hat mich schon früh fasziniert. Um dem hohen Anspruch an Qualität gerecht zu werden,  habe ich vor 10 Jahren meine eigene Firma gegründet.</p>
    <p>Mit <strong>Maschinenservice Hermanns</strong> möchte ich Ihnen Service bieten, der nicht nur zufriedenstellt &#8211;sondern<em> <strong>begeistert</strong></em>.</p>
    <hr/>
    <p>My name is Andreas Hermanns and I have been working and colaborating with partners to serve customers worldwide for the last 30 years.</p>
    <p>It was 19 years ago when I stepped into the graphic industry and mainly focused on maintaining, repairing and servicing <strong>Polishmaster.</strong></p>
    <p>I started my own company about 10 years ago which is called Maschinenservice Hermanns.</p>
{% endblock %}
